{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Students list{% endblock %}
{% block header %}Students list{% endblock%}

{% block operation %}
<!-- <h2 style="text-align:center">Students list</h2> -->
{% endblock %}

{% block content %}
    <form method="get">

        {{ obj_filter.form | crispy }}

        <input class="btn btn-success mb-2 mt-2" type="submit" value="Search"><br>
    </form>

    {% with list_objects=obj_filter.qs %}
        {% include 'includes/students_list_table.html' %}
    {% endwith %}
{% endblock %}
