{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Create group{% endblock %}
{% block header %}Create group{% endblock %}

{% block operation %}
<!-- <h2 style="text-align:center">Create group</h2> -->
{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    {{ form | crispy }}
    <input class="btn btn-success mb-2 mt-2" type="submit" value="Create">
    <a class="btn btn-primary" href="{% url 'groups:list' %}">Cancel</a>
  </form>
{% endblock %}
