{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Groups list{% endblock %}
{% block header %}Groups list{% endblock %}

{% block operation %}
<!-- <h2 style="text-align:center">Groups list</h2> -->
{% endblock %}

{% block content %}
    <form method="get">
        <!-- <label>Group number:</label>
        <input type="number" name="group_number"><br><br>
        <label >Academic subject:</label>
        <input type="text" name="academic_subject"><br><br> -->

        {{ obj_filter.form | crispy }}

        <input class="btn btn-success mb-2 mt-2" type="submit" value="Search"><br>
    </form>

    <p><strong>Count of groups: <font size="5">{{ obj_filter.qs.count }}</font></strong></p>

    <table class="table table-hover table-sm">
        <tr>
            <th></th>
            <th>Group №</th>
            <th>Academic subject</th>
            <th>Date of creation</th>
            <th>End date</th>
            <th>Number of students</th>
            <th>Students in group</th>
            <th>Head man</th>
            <th>Teachers</th>
            <th><i class="bi bi-pencil-fill"></i></th>
            <th>🚮</th>
        </tr>
        {% for group in obj_filter.qs %}
        <tr>
            <td><b>{{ forloop.counter }}</b></td>
            <td>{{ group.group_number }}</td>
            <td>{% if group.course %}{{ group.course.academic_subject }}{% endif %}</td>
            {#<td>{{ group.academic_subject }}</td>#}
            <td>{{ group.date_of_creation }}</td>
            <td>{% if group.end_date %}{{ group.end_date }}{% endif %}</td>
            <td>{{ group.number_of_students }}</td>
            <td>
                {% for student in group.students.all %}
                    {{ forloop.counter }}. {{ student.first_name }} {{ student.last_name }}<br>
                {% endfor %}
            </td>
            <td>{% if group.headman %}{{ group.headman.first_name }} {{ group.headman.last_name }}{% endif %}</td>
            <td>
                {% for teacher in group.teachers.all %}
                    {{ forloop.counter }}. {{ teacher }}<br>
                {% endfor %}
            </td>
            <td><a class="btn btn-outline-primary btn-sm" href="{% url 'groups:update' group.id %}">EDIT</a></td>
            <td><a class="btn btn-outline-danger btn-sm" href="{% url 'groups:delete' group.id %}">DELETE</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
