{%extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Update group{% endblock %}
{% block header %}Update group{% endblock %}

{% block operation %}
<!-- <h2 style="text-align:center">Update group</h2> -->
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <input class="btn btn-success mb-2 mt-2" type="submit" value="Update">
        <a class="btn btn-primary" href="{% url 'groups:list' %}">Cancel</a>
    </form>
    {% with list_objects=group.students.all %}
        {% include 'includes/students_list_table.html' %}
    {% endwith %}
    <!-- <table class="table table-hover table-sm">
        <tr>
            <th></th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Age</th>
            <th><i class="bi bi-pencil-fill"></i></th>
            <th>🚮</th>
        </tr>
        {% for student in group.students.all %}
        Если во вьюшке определить 'students': group.students.all(), то можно обратиться просто "for student in students"
        <tr>
            <td><b>{{ forloop.counter }}</b></td>
            <td>{{ student.first_name }}</td>
            <td>{{ student.last_name }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.age }}</td>
            <td><a class="btn btn-outline-primary btn-sm" href="{% url 'students:update' student.id %}">EDIT</a></td>
            <td><a class="btn btn-outline-danger btn-sm" href="{% url 'students:delete' student.id %}">DELETE</a></td>
        </tr>
        {% endfor %}
    </table> -->
{% endblock %}