{% extends 'base.html' %}

{% block title %}Delete teacher{% endblock %}
{% block header %}Delete teacher{% endblock %}

{% block operation %}
<!-- <h2 style="text-align:center">Delete teacher</h2> -->
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <p>Do you really remove {{ teacher.last_name }} {{ teacher.first_name }}?</p>
    <input class="btn btn-danger" type="submit" value="Agree">
    <a class="btn btn-primary" href="{% url 'teachers:list' %}">Cancel</a>
</form>
{% endblock %}