{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Courses list{% endblock %}
{% block header %}Courses list{% endblock %}

{% block content %}
    {% include 'includes/collapse_form.html' %}

    <p><strong>Count of courses: <font size="5">{{ obj_filter.qs.count }}</font></strong></p>

    <table class="table table-hover table-sm">
        <tr>
            <th></th>
            <th>Academic subject</th>
            <th>Number of hours</th>
            <th>Group</th>
            <th><i class="bi bi-pencil-fill"></i></th>
            <th><i class="bi bi-trash"></i></th>
        </tr>
        {% for course in object_list %}
        <tr>
            <td><b>{{ forloop.counter0|add:page_obj.start_index }}</b></td>
            <td>{{ course.academic_subject }}</td>
            <td>{{ course.number_of_hours }}</td>
            <td>{% if course.course_group %}{{ course.course_group }}{% endif %}</td>
            <td><a class="btn btn-outline-primary btn-sm" href="{% url 'courses:update' course.id %}">EDIT</a></td>
            <td><a class="btn btn-outline-danger btn-sm" href="{% url 'courses:delete' course.id %}">DELETE</a></td>
        </tr>
        {% endfor %}
    </table>

    {% if is_paginated %}
        {% include 'includes/paginator.html' %}
    {% endif %}

{% endblock %}
